<!--Mask-->
<div class="view hm-black-strong">
  <div class="full-bg-img flex-center">
    <ul>
      <div class="container">
        <div class="row centered-form">
          <div class="col-xs-12 col-sm-8 col-md-4 col-sm-offset-2 col-md-offset-4">
            <div class="panel panel-default">
              <div class="panel-heading">
                <h3 class="panel-title centar-titulo">Bienvenido</h3>
              </div>
              <div class="panel-body">
                <form role="form">
                  <div class="form-group">
                    <input type="text" name="user" id="user" class="form-control input-sm" placeholder="Usuario">
                  </div>
                  <div class="form-group ">
                    <input type="password" name="password" id="password" class="form-control input-sm" placeholder="Contraseña">
                  </div>
                  <li>
                    <a href="/#" class="btn btn-primary btn-lg wow center-block" data-wow-delay="0.2s" rel="nofollow">Ingresar</a>
                  </li>
                  <li>
                    No tienes cuenta?<a routerLink="/registro">registrate</a>
                  </li>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>


    </ul>
  </div>
</div>