<div class="container table-container">
    <div class="row">
        <div class="input-group">
            <span class="input-group-btn">
                <!-- Trigger the modal with a button -->
                <button class="ah-btn ah-style-btn" type="button" data-toggle="modal" data-target="#myModal">Añadir Gasto</button>
            </span>
        </div>
    </div>
    <div class="row">
        <table>
            <tr>
                <th>Monto (Bs.)</th>
                <th>Descripcion</th>
                <th>Rubro</th>
                <th>Fecha de Creacion</th>
                <th>Actualizar</th>
                <th>Borrar</th>
            </tr>
            <tr *ngFor="let item of gastos">
                <td>{{item.monto}}</td>
                <td>{{item.descripcion}}</td>
                <td>{{item.rubro}}</td>
                <td>{{item.fecha}}</td>
                <td><i class="fa fa-pencil" aria-hidden="true" (click)="editGasto(item)"></i></td>
        <td><i class="fa fa-trash" aria-hidden="true" (click)="deleteGasto(item)"></i></td>
            </tr>
        </table>
    </div>
</div>


<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Administracion de Gastos</h4>
      </div>
      <div class="modal-body">
        <form>
            <div class="form-group">
                <label for="email">Monto</label>
                <input type="email" class="form-control" id="email" [(ngModel)]="gasto.monto" name="monto">
            </div>
            <div class="form-group">
                <label for="comment">Descripcion</label>
                <textarea class="form-control" rows="5" id="comment" [(ngModel)]="gasto.descripcion" name="descripcion"></textarea>
            </div>
            <div class="form-group">
                <div class="input-group">
                    <div class="input-group-btn">
                        <button type="button" class="btn btn-default dropdown-toggle" 
                                data-toggle="dropdown" aria-haspopup="true" 
                                aria-expanded="false">Rubro 
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu">
                        <li><a class="action-performed" 
                                (click)="gasto.rubro = rubro.rubro" 
                                *ngFor="let rubro of rubros">{{rubro.rubro}}</a></li>
                        </ul>
                    </div><!-- /btn-group -->
                    <input type="text" [(ngModel)]="gasto.rubro" 
                    class="form-control" aria-label="..." name="rubro">
                </div><!-- /input-group -->
            </div>
            <div class="form-group">
                <label for="datePicker">Fecha de Creacion</label>
                <ng2-datepicker [options]="options" [(ngModel)]="gasto.fecha" name="fecha"></ng2-datepicker>
            </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="submit" class="btn btn-primary" (click)="guardarGasto()">Submit</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>