<div class="container table-container">
    <div class="row">
        <div class="input-group">
            <span class="input-group-btn">
                <!-- Trigger the modal with a button -->
                <button class="ah-btn ah-style-btn" type="button" data-toggle="modal" data-target="#myModal">Añadir Gasto</button>
            </span>
        </div>
    </div>
    <div class="row">
        <table>
            <tr>
                <th>Monto</th>
                <th>Descripcion</th>
                <th>Rubro</th>
                <th>Fecha de Creacion</th>
            </tr>
            <tr *ngFor="let item of gastos">
                <td>{{item.monto}}</td>
                <td>{{item.descripcion}}</td>
                <td>{{item.rubro.rubro}}</td>
                <td>{{item.date}}</td>
            </tr>
        </table>
    </div>
</div>


<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Administracion de Gastos</h4>
      </div>
      <div class="modal-body">
        <form>
            <div class="form-group">
                <label for="email">Monto</label>
                <input type="email" class="form-control" id="email">
            </div>
            <div class="form-group">
                <label for="comment">Descripcion</label>
                <textarea class="form-control" rows="5" id="comment"></textarea>
            </div>
            <div class="form-group">
                <div class="input-group">
                    <div class="input-group-btn">
                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Rubro 
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu">
                        <li><a class="action-performed" (click)="optionSelected = 'Action'">Action</a></li>
                        <li><a class="action-performed" (click)="optionSelected = 'Action 2'">Action 2</a></li>
                        <li><a class="action-performed" (click)="optionSelected = 'Action 3'">Action 3</a></li>
                        <li><a class="action-performed" (click)="optionSelected = 'Action 4'">Action 4</a></li>
                        </ul>
                    </div><!-- /btn-group -->
                    <input type="text" [(ngModel)]="optionSelected" class="form-control" aria-label="..." name="optionSelectedName">
                </div><!-- /input-group -->
            </div>
            <div class="form-group">
                <label for="datePicker">Fecha de Creacion</label>
                <ng2-datepicker [options]="options" [(ngModel)]="date" name="datePicker"></ng2-datepicker>
            </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="submit" class="btn btn-primary">Submit</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>