


<ul class="ah-nav">
  <li><a [class.active]="route=='routeHome'" (click)="route='routeHome'" routerLink="/home">Home</a></li>
  <li><a [class.active]="route=='routeItems'" (click)="route='routeItems'" routerLink="/item">Items</a></li>
  <li><a [class.active]="route=='routeGastos'" (click)="route='routeGastos'" routerLink="/gasto">Gastos</a></li>
  <li><a [class.active]="route=='routeIngresos'" (click)="route='routeIngresos'" routerLink="/ingreso">Ingresos</a></li>
  <li class="right"><a routerLink="login">Login</a></li>
  <li class="right"><a routerLink="registro">Registro</a></li>
</ul>
<app-saldo [saldo]= "4250" (notificar)="handleMyEvent($event)"></app-saldo>

  
<div>
  <router-outlet></router-outlet>
</div>

