ul.ah-nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}
ul.ah-nav li {
    float: left;
    font-size: 120%;
}
ul.ah-nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

ul.ah-nav li a:hover:not(.active) {
    background-color: #111;
}
ul.ah-nav li a.active  {
    background-color: #4CAF50;
}
ul.ah-nav li.right {
    float: right;
}

@media screen and (max-width: 600px){
    ul.ah-nav li.right, 
    ul.ah-nav li {
        float: none;
    }
}